<h1 hidden>Moussaillon | Furniture | Oak Table | Marble | Steel</h1>
<div id="page-wrapper">
  <div class="container-fluid">
    <% @products.each do |product| %>
      <%= product.name %>
      <%= product.description %>
    <% end %>
  </div>
</div>
