<!-- Content -->
<div id="content">

  <!-- History -->
  <section class="history-block padding-bottom-100" style="padding-top: 82px;">
    <div class="container">
      <div class="row">
        <div class="col-xs-10 center-block">
          <div class="col-sm-9 center-block">
            <div class= "text-center" style="font-size: 18px; font-weight: bold; line-height: 36px; word-spacing: 5px;">
            <p> We know you need your furnitures to last<br>
              We know you want them to be unique, your place is<br>
              We know details are everything<br>
              We know taste is personnal, harmony isn’t<br>
              We know sometimes life happens, everything we do can be repair<br>
              We know you’re busy, we deliver worldwide<br>
              We know you care, we keep you posted every step of the way<br>
              We know you care, we make belgian products<br>
              We know you care, we are Moussaillon <br>
            </p>
          </div>
          </div>
        </div>
      </div>
    </section>

    <!-- OUR TEAM -->
    <section class="our-team light-gray-bg padding-top-150 padding-bottom-100">
      <div class="container">
        <div class="heading text-center">
          <h4>TEAM</h4>
      </div>

          <!-- TEAM -->
          <ul class="row">

            <!-- Member -->
            <li class="col-md-6 text-center">
              <article>
                <!-- abatar -->
                <%= image_tag 'john_borderless.jpg', class: "img-bordered", height: '400px' %>
                  <!-- Team hover -->
                <!-- Team Detail -->
                <div class="team-names">
                  <h6>John Helson</h6>
                  <p> Tel: +32 (0) 471 42 48 79</p>
                  <p>Johnhelson@moussaillon.be</p>
                </div>
              </article>
            </li>

            <!-- Member -->
            <li class="col-md-6 text-center">
              <article>
                <!-- abatar -->

                <%= image_tag 'ludo_borderless.jpg', class: "img-bordered", height: '400px' %>
                  <!-- Team hover -->

                <!-- Team Detail -->
                <div class="team-names">
                  <h6>Ludo Branders</h6>
                  <p>Tel: +32 (0) 472 20 88 91</p>
                  <p>Ludobranders@moussaillon.be</p>
                </div>
              </article>
            </li>
          </ul>
        </div>
      </section>



      <!-- WORK WITH US -->
      <section class="our-team padding-top-150 padding-bottom-100">
        <div class="container">
          <div class=" text-left">
            <h4>They thought ...</h4>
            <br>
            <br>
            <br>



            <ul class="text-center" style="word-spacing:40px; font-size: 18px; font-weight: bold; line-height: 36px;">
              <p>  <span class="close-class" style="word-spacing: 3px !important">Tailor made</span>  Wood    Handcraft     Steel    Origin   </p>
              <p> Leather   Useful    Timeless    <span class="close-class" style="word-spacing: 3px !important">Top of the range </span>    </p>
              <p>  Robust    Local   Taste    Shape     Carved  </p>
              <p> Beautiful    Hardwood    Noble   Stones    Perfect   </p>
              <p> Unique  </p>
            </ul>
            <br>
            <br>
            <br>
              <h4 class ="text-right">... Moussaillon was born </h4>
          </div>
        </section>

        <!-- About -->
        <section class="small-about padding-top-150 padding-bottom-150">
          <div class="container">



            <!-Social Icons -->
            <ul class="social_icons">
              <li><a href="#." class="like-us" data-toggle="modal" data-target="#modal-1"><i class="fa fa-pinterest fa-3x" fa-3x"></i></a> </li>
              <li><a href="https://www.facebook.com/moussaillonfurniture"><i class="fa fa-facebook fa-3x"></i></a></li>
              <li><a href="https://www.instagram.com/moussaillonmaker/"><i class="fa fa-instagram fa-3x"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube fa-3x"></i></a></li>
            </ul>
          </div>
        </section>

<div></div>


