<!-- Content -->
<div id="content">

  <!-- History -->
  <section class="history-block padding-top-100 padding-bottom-100" style= "background: url'(about-background.jpg)'' %>">
    <div class="container">
      <div class="row">
        <div class="col-xs-10 center-block">
          <div class="col-sm-9 center-block">
            <h4>A Brief History & our vision</h4>
            <div class= "text-center">
            <p> We know you need your furnitures to last<br>
              We know you want them to be unique, your place is<br>
              We know details are everything<br>
              We know taste is personnal, harmony isn’t<br>
              We know sometimes life happens, everything we do can be repair<br>
              We know you’re busy, we deliver worldwide<br>
              We know you care, we keep you posted every step of the way<br>
              We know you care, we make Belgium product<br>
              We know you care, we are Mousaillon <br>
            </p>
          </div>
          </div>
        </div>
      </div>
    </section>

    <!-- OUR TEAM -->
    <section class="our-team light-gray-bg padding-top-150 padding-bottom-100">
      <div class="container">
        <div class="heading text-center">
          <h4>OUR TEAM</h4>
          <span>United by love & help to build great brands</span> </div>

          <!-- TEAM -->
          <ul class="row">

            <!-- Member -->
            <li class="col-md-6 text-center">
              <article>
                <!-- abatar -->
                <div class="avatar"> <img class="img-circle" src="https://unsplash.it/300/300" alt="" >
                  <!-- Team hover -->
                  <div class="team-hover">
                    <div class="position-center-center">
                      <div class="social-icons"> <a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-pinterest""></i></a> </div>
                    </div>
                  </div>
                </div>
                <!-- Team Detail -->
                <div class="team-names">
                  <h6>Ludo</h6>
                  <p>King of Carving</p>
                </div>
              </article>
            </li>

            <!-- Member -->
            <li class="col-md-6 text-center">
              <article>
                <!-- abatar -->
                <div class="avatar"> <img class="img-circle" src="https://unsplash.it/300/300" alt="" >
                  <!-- Team hover -->
                  <div class="team-hover">
                    <div class="position-center-center">
                      <div class="social-icons"> <a href="#."><i class="fa fa-facebook"></i></a>  <a href="#."><i class="fa fa-pinterest""></i></a> </div>
                    </div>
                  </div>
                </div>
                <!-- Team Detail -->
                <div class="team-names">
                  <h6>Marie</h6>
                  <p>Head of marketing</p>
                </div>
              </article>
            </li>
          </ul>
        </div>
      </section>



      <!-- WORK WITH US -->
      <section class="our-team padding-top-150 padding-bottom-100">
        <div class="container">
          <div class="heading text-center">
            <h4>We work with the best</h4>
            <ul class="clients-img">
              <li> <img class="img-responsive" src="https://unsplash.it/200/300" alt=""> </li>
              <li> <img class="img-responsive" src="https://unsplash.it/200/300" alt=""> </li>
              <li> <img class="img-responsive" src="https://unsplash.it/200/300" alt=""> </li>
              <li> <img class="img-responsive" src="https://unsplash.it/200/300" alt=""> </li>
            </ul>
          </div>
        </section>

        <!-- About -->
        <section class="small-about padding-top-150 padding-bottom-150">
          <div class="container">



            <!-Social Icons -->
            <ul class="social_icons">
              <li><a href="#." class="like-us" data-toggle="modal" data-target="#modal-1"><i class="fa fa-pinterest fa-3x" fa-3x"></i></a> </li>
              <li><a href="https://www.facebook.com/moussaillonfurniture"><i class="fa fa-facebook fa-3x"></i></a></li>
              <li><a href="https://www.instagram.com/moussaillonmaker/"><i class="fa fa-instagram fa-3x"></i></a></li>
            </ul>
          </div>
        </section>

<div></div>


