
<!-- Knowledge Share -->
<section class="home-introduction">
  <div class="container">
    <!-- Main Heading -->
    <div class="heading text-center">

    <h4> Home Page is undergoing maintenance </h4>
    <h4> Shop still available through menu </h4>
    </div>
        

    </div>
</section>