.videoWrapper {
  position: relative;
  margin-top: -20px;
  padding-bottom: 56.25%; /* 16:9 */
  height: 100%;
  z-index: 1;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100vw;
  height: 100%;
}
