  <!--======= FOOTER =========-->
  <footer>
    <div class="container ">


      <!-- ABOUT Location -->
      <div class="col-xs-12">
        <div class="about-footer text-center"> <img class="margin-bottom-30" src="assets/logo-foot.png" alt="" >

          <p><i class="icon-pointer"></i> rue de mont st Pont 167/2 <br>
           1440 Braine Le château,Belgium</p>
          <p><i class="icon-call-end"></i> +32472208891</p>
          <p><i class="icon-envelope"></i> ludovic@brandersnbranders.com</p>
        </div>
      </div>

      <!-- HELPFUL LINKS -->
   <!--    <div class="col-xs-6">
        <h6>HELPFUL LINKS</h6>
        <ul class="link">
          <li><a href="#."> Products</a></li>
          <li><a href="#."> Find a Store</a></li>
          <li><a href="#."> Features</a></li>
          <li><a href="#."> Privacy Policy</a></li>
          <li><a href="#."> Blog</a></li>
          <li><a href="#."> Press Kit </a></li>
        </ul>
      </div> -->
      <!-- Rights -->


  </footer>
