  <!--======= FOOTER =========-->
  <footer>
    <div id= "footer">
    <div class="container">
      <!-- ABOUT Location -->
      <div class="col-xs-12">
      <div class="row">
        <div class="about-footer text-center"> <%= image_tag "logo_white.svg", style:"height:100px", class: 'margin-bottom-30'%>


          <p><i class="fa fa-map"></i> Rue de Mont Saint-Pont 167/2, 1440 Braine-le-château, Belgium</p>
          <p><i class="fa fa-envelope"></i> ludovic@brandersnbranders.com </p>
          <p><i class="fa fa-phone"></i> +32 472208891</p>
        </div>
      </div>
    </div>
  </footer>


