
<header>
  <div class="">
    <div class="container" style="display: flex; justify-content: flex-start;">
      <!-- Logo -->
      <div class="logo"> <a href="/"><%= image_tag 'logo_black_v2.png', class: 'image-responsive' %></a>
      </div>
      <nav class="navbar ownmenu">
      <div class="navbar-header" style="flex-grow: 3;">
        <button type="button" class="navbar-toggle" data-toggle="#drop-down-nav" data-target="#drop-down-nav"> <span class="icon-bar"><i class="fa fa-navicon"></i></span>
        </button>
      </div>

      <!-- NAV -->
      <div class="" id="drop-down-nav">
        <ul class="nav">
          <li class="dropdown">
            <%= link_to "Scenes", scene_path(Scene.last) if Scene.last %>
          </li>
          <li class="dropdown">
            <a href="/collection">
              Collection
            </a>
          </li>
          <li class="dropdown">
            <a href="/about">
              About
            </a>
          </li>
          <li class="dropdown">
            <a href="/contact">Contact</a> </li>
          </li>
          <li class="dropdown">
            <a href="javascript:void(0);" class="search-open"> Search</a>
          </li>

          <!-- Two Link Option -->
          <!-- Nav Right -->
          <div class="nav-right">
            <ul class="navbar-right">

                  <!-- SEARCH BAR -->

                  <li class="dropdown">
                    <div class="search-inside animated bounceInUp"><i class="fa fa-search-minus search-close"></i>
                      <div class="search-overlay"></div>
                      <div class="position-center-center">
                        <div class="search">
                          <form action="/collection" method="get">
                            <input name="search" type="search" placeholder="Search Shop">
                            <button type="submit"><i class="fa fa-search" ></i></button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </header>
